venv
*.env
.env
/.venv/
/.pytest_cache/
/.ruff_cache/
src/anonimizer/__pycache__/
*/__pycache__
*.json
*.parquet
*.gzip
*.gz
*.pyc
/dist
/src/sei_anonimizar.egg-info
/src/anonimizador_dp.egg-info
/dist_old
*.csv
*.jsonl
*.xlsx
/notebooks/Estorias/matheus/sprint_128/Prompts/system_prompts_leaks-main
*.sav
*.zip
DATA/*
old/*
#/notebooks/
/docker/
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/anonimizar
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_test
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_500
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_80per
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_95per
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_full
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_full_v1
/notebooks/Estorias/matheus/sprint_135/Metricas_base_v5/trained_model_full
/notebooks/Estorias/matheus/sprint_135/Metricas_base_v5/cv_runs_concat
/notebooks/Estorias/matheus/sprint_135/Metricas_base_v5/trained_model_concat
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv_30_iter
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv_50_iter
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv_results
/notebooks/Estorias/matheus/sprint_137/estoria_1262/cv_results
/notebooks/Estorias/matheus/sprint_19/estoria_184/cv_results
/notebooks/Estorias/matheus/sprint_19/estoria_184/treino_sem_tabelas/cv_results
/notebooks/Estorias/matheus/sprint_69/estoria_800/cv_results
*.log
*.joblib
/notebooks/Estorias/matheus/sprint_69/estoria_800/cv_results_sem_tabela
/notebooks/Estorias/matheus/sprint_69/estoria_800/cv_results_184
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_final
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v2/vocab
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v3
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v4/vocab
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v4
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v0
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v5
/notebooks/Estorias/matheus/sprint_70/estoria_801/entregaveis/modelos/modelo_ner_v2
/notebooks/Estorias/matheus/sprint_75/modelo_blank_ner_pt
AGENTS.md
/notebooks/Estorias/felipe/sprint_75/estoria_850/model
/notebooks/Estorias/alves/sprint_79/estoria_891/scripts_referencia/modelo_ner_v2
/notebooks/Estorias/alves/sprint_80/estoria_897/scripts_referencia/modelo_ner_v2
/notebooks/Estorias/alves/sprint_80/estoria_897/scripts_referencia/modelo_ner_v2_sinteticos
/notebooks/Estorias/alves/sprint_80/estoria_897/scripts_referencia/modelos_grid_search
/notebooks/Estorias/alves/sprint_80/estoria_898/scripts_referencia/modelo_ner_v2_sinteticos
/notebooks/Estorias/alves/sprint_80/estoria_898/scripts_referencia/modelos_grid_search
/notebooks/Estorias/alves/sprint_80/estoria_910/modelo_ner_best_from_grid
/notebooks/Estorias/felipe/sprint_80/estoria_893/old
/notebooks/Estorias/felipe/sprint_80/estoria_903/old
/notebooks/Estorias/felipe/sprint_80/estoria_903/outputs
/notebooks/Estorias/felipe/sprint_80/estoria_905/old
/notebooks/Estorias/felipe/sprint_81/estoria_922/old
/notebooks/Estorias/felipe/sprint_81/estoria_922/output
/notebooks/Estorias/felipe/sprint_81/estoria_922/modelo_ner_v2
/notebooks/Estorias/matheus/modelos
/notebooks/Estorias/matheus/sprint_82/streamlit_test/v2/.venv
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_1_ouro
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_2_ouro
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_1_completos
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_2_sujo
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_4
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_3
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_5_sujo_ouro
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_6_endereco_balanceado
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_7_real_sujo_ouro
/notebooks/Estorias/matheus/sprint_82/estoria_942/treinos/data/modelo_treino_8_real_completos_ouro
*config.cfg
*vocab/vectors
*ner
*key2row
*.cfg
*vocab/vectors.cfg
*vocab/lookups.bin
*vocab/key2row
*tokenizer
*lookups.bin
*vectors
