venv
*.env
.env
/.venv/
/.pytest_cache/
/.ruff_cache/
src/anonimizer/__pycache__/
*/__pycache__
*.json
*.parquet
*.gzip
*.gz
*.pyc
/dist
/src/sei_anonimizar.egg-info
/dist_old
*.csv
*.jsonl
*.xlsx
/notebooks/Estorias/matheus/sprint_128/Prompts/system_prompts_leaks-main
*.sav
*.zip
DATA/*
/notebooks/
/docker/
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/anonimizar
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_test
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_500
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_80per
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_95per
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_full
/notebooks/Estorias/matheus/sprint_131_2/treino_nova_base/trained_model_full_v1
/notebooks/Estorias/matheus/sprint_135/Metricas_base_v5/trained_model_full
/notebooks/Estorias/matheus/sprint_135/Metricas_base_v5/cv_runs_concat
/notebooks/Estorias/matheus/sprint_135/Metricas_base_v5/trained_model_concat
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv_30_iter
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv_50_iter
/notebooks/Estorias/matheus/sprint_137/estoria_1263/cv_results
/notebooks/Estorias/matheus/sprint_137/estoria_1262/cv_results
/notebooks/Estorias/matheus/sprint_19/estoria_184/cv_results
/notebooks/Estorias/matheus/sprint_19/estoria_184/treino_sem_tabelas/cv_results
/notebooks/Estorias/matheus/sprint_69/estoria_800/cv_results
*.log
*.joblib
/notebooks/Estorias/matheus/sprint_69/estoria_800/cv_results_sem_tabela
/notebooks/Estorias/matheus/sprint_69/estoria_800/cv_results_184
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_final
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v2/vocab
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v3
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v4/vocab
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v4
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v0
/notebooks/Estorias/matheus/sprint_69/estoria_801/modelo_ner_v5
/notebooks/Estorias/matheus/sprint_70/estoria_801/entregaveis/modelos/modelo_ner_v2
